<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'PGTapp/css/Style.css' %}">
<!--         <link rel="stylesheet" href="{% static 'PGTapp/css/Style.css' %}">
    
 -->        <!-- aqui estoy incluyendo el archivo que contiene la barra de navegacion -->
    </head>
 
    </div>
    
    <body class="body">
        {% include "NavBar.html" %}
        <div id="container_p">
            <strong><H1 class="h1">
                PGTrips
              
            </H1></strong>
        </div>
        <hr>
        <section class="section">
            {% block content %}
            
            {% endblock %}
            <br>
        </section> 
        <!-- Aqui estoy incluyendo el archivo que contiene el pie de pagina -->
        {% include "Footer.html" %}
</body>
</html>