<!DOCTYPE html>
{% extends "Base.html" %}
{% block title %}
Homepage
{% endblock %}

{% block content %}
<h1 class="h1">
    Bienvenido
</h1> <br>
<div class="div">
    <p class="p">
       Esta pagina ha sido creada con el objetivo de facilitar la busqueda de transporte particular <br>
       para viajes con caracter personal y privado, al contrario de los transportes publicos las rutas <br>
       y estancias seran definidas por el cliente. De esta manera aseguramos un mayor confort y eficiencia <br>
    </p>
</div>

<div>
    <h2 class="h2">
        Seccion
    </h2>
    <p class="p">
        Otro texto que se definira mas adelante 
    </p>
</div>

    <div class="div">

        <p class="p">
            Y otro mas
        </p>

    </div>
{% endblock %}