<!DOCTYPE html>
 


<html >
<head>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li class="elemento">
               <a href="{% url 'home' %}"> Inicio</a>
            </li>
            <li class="elemento">
             <a href="{% url 'reservaciones' %}">Reservaciones</a>   
            </li>
            <li class="elemento">
               <a href="{% url 'programacion' %}">Programaciones</a> 
            </li>
            <li class="elemento">
               <a href="{% url 'transporte' %}">Transportes </a> 
            </li>
            <li class="elemento">
               <a href="">Informacion</a> 
            </li>
        </ul>
    </nav>
</body>
</html>