
a{
    text-decoration: none;
}

body{
    margin: 0;
    width: 100%;
}

h1{
    background: none;
    text-align: center;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
    animation-name: animacionh1;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-fill-mode:backwards;  
    animation-direction:alternate-reverse;
}

.h1{
    color: #ffff;
    animation: none;
}

.contenedor{
    display: flex;
    flex-direction: row;
}

.lista{
    display: flex;
    list-style-type: none;
    padding: 1rem;
    /* background-color: rgb(252, 248, 248); */
    backdrop-filter: blur(1.4rem);
    color: white;
    width: 100%;
    /* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
    margin: 0;
}
.lista li{
    margin-right: 6%;
/*    color: rgb(231, 231, 231);*/
    border-style:inset;
    border-radius: 4rem;
    border-color: radial-gradient(circle, #504a4a, #212130);
     padding: 0.3rem;
     backdrop-filter: blur(1.4rem);
     color: white;
     /* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
}

.a{
    color: rgb(245, 244, 243);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.p{
    color: rgb(255, 255, 255);
text-align: justify;
text-align: center;
text-overflow: ellipsis;
font-size: xx-large;
/* text-shadow:0.7rem 0.5rem 0.4rem black; */
color: white;
/* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
font-family: Arial, Helvetica;
font-size: 26px;
}

.galery{
    text-align: center;
    width: 100%;
}

#h1_hp {
    
        background-color: rgb(243, 243, 243);
        text-align:center;
        background-color:rgba(0, 0, 0, 0.1);
        color:aliceblue;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
#container_p{
    width: min-content;
    position: initial;
    margin: 1.5rem 3rem;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(0, 177, 59), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(1, 170, 236);

}

#container_h1{
    width: min-content;
    position:initial;
    margin: 2rem 46rem;
}

.h2{
       background-color: rgb(243, 243, 243);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.1);
        color: aliceblue;
       
}


.body {  min-height: 100vh; /* Establece una altura mínima del 100% del viewport */
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5),
     rgba(0, 0, 0, 1)),
     url('img/5.jpg'); /* Ruta a tu imagen de fondo y degradado */
    background-repeat: repeat-y; /* Repite la imagen verticalmente */
    background-size: cover; /* Ajusta la imagen al tamaño del body */
  
  }
.bodyR{
    background-image:url('img/2.jpg');

    background-repeat:repeat-y;
    background-size: cover;
    backdrop-filter: blur(2rem);

   
}  

#Titulo_login{
    font-family:Cambria;
    text-align: center;
   color: rgba(136, 22, 22, 0.397);
}

.footer{
    color: aliceblue;
    text-align: center;
    backdrop-filter: blur(1.4rem);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:4rem;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



  .button{

    border-color: cadetblue;
}
#button { 
    margin-left: 28rem;
    background-color: transparent;
    color: aliceblue;
    border-radius: 3em;
   
}


@keyframes animacionh1{
0%{
 /*    background: linear-gradient(to right, #f5f3f3, #212130);
  */       -webkit-background-clip: text;
    transform: translateY(0);
    
}
50%{
    transform: translateY(10px);
}
100%{
/*     background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(128, 128, 128, 0.8), rgba(0, 0, 0, 0.3));
 */    transform: translateY(0);
    
}
}


/* @keyframes animacionF{
0%{
    background-image: url('img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: (0,0,0.2);

}
100%{
    background-image: url('img/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: (0,0,0.2);
}
}

.body{
    
    animation-name: animacionF;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
 */
 hr{
    height: 0.3%;
    border-width: 0%;
    background-color: rgb(248, 0, 0);
 }

 .container {
    position: relative;
   
  }
  
  /* .content {
   
  } */
  .login-tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 30rem;
    height: 15rem;
    backdrop-filter: blur(1.4rem);

    z-index: 1;
    border-style:inset;
    border-width: 0.6rem;
    border-radius: 4rem;
    
}
label{
    color: rgb(146, 80, 49);
   
    margin: 2rem;
    padding: 2rem;
    color: white    ;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}
    
.inputR   {   
 border-radius:2rem;
 padding: 2rem;
 border-collapse: separate;

 
}

.plog{
    color: rgb(255, 255, 255);
text-align: justify;
text-align: center;
text-overflow: ellipsis;
font-size:large;
text-shadow:0.3rem 0.4rem 0.4rem black;
}

.p_galeria{
    
    color: rgb(255, 255, 255);
text-align: justify;
/* text-align: center;
 */
text-overflow: ellipsis;
font-size: xx-large;
text-shadow:0.7rem 0.5rem 0.4rem black;
color: white;
text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container_G {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 columnas con igual ancho */
    grid-gap: 2rem; /* Espacio entre los elementos */

}
#img_G{
    padding: 1.3rem;
}


.section{
    display:table-cell;
    max-width: 100%;
}/* 
.inputdate::-webkit-calendar-picker-indicator{
    color: #999;
    font-size: 16px;
    cursor: pointer;
} */