<!DOCTYPE html>
{% extends "Base.html"%}    
{% block title %}
Homepage
{% endblock %}
<head>
    {% load static %}
        <link rel="stylesheet" href="{% static 'PGTapp/css/Style.css' %}">
</head>
<body class="bodyR">
    {% block content %}
    <h1>
        Realice su reservacion 
    </h1>
    <br>
    <br>
    <br>
    <form action="" method="post"> {% csrf_token %}
        <div class="form-group">
          
            {{ formularioR.as_table }}
       
        <input type="submit" value="Aceptar" class="button">
   
    </form>
    {% endblock %}
</body>
</html>